<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>MacClean</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Bootstrap Css -->
    <link href="../static/bootstrap-assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="../static/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="../static/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="../static/plugins/Lightbox/dist/css/lightbox.css" rel="stylesheet">
    <link href="../static/plugins/Icons/et-line-font/style.css" rel="stylesheet">
    <link href="../static/plugins/animate.css/animate.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <!-- Icons Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->


</head>
<body>

<section class="main-header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="../static/img/logo/mcmaster_logo.png" class="img-responsive"
                                                      alt="logo" style="height:50px; width:40px "></a>
            </div>
            <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                <div class="col-md-8 col-xs-12 nav-wrap">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="page-scroll">Home</a></li>
                        <li><a href="#" class="page-scroll">Tools</a></li>
                        <li><a href="#" class="page-scroll">About</a></li>
                        <li><a href="#" class="page-scroll">Source Code</a></li>
                        <li><a href="#" class="page-scroll">Contact</a></li>
                    </ul>
                </div>
                <div class="social-media hidden-sm hidden-xs">
                    <ul class="nav navbar-nav">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</section>

<section style="margin-top: 100px">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-9">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="tabbable" id="tabs-10414">
                            <ul class="nav nav-tabs">

                                <li>
                                    <a href="#panel-aofd" data-toggle="tab">aofd</a>
                                </li>
                                <li>
                                    <a href="#panel-isaaofd" data-toggle="tab">isa_aofd</a>
                                </li>
                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane active" id="panel-aofd">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="accordion" id="accordion-0">
                                                <div class="accordion-group">
                                                    <div class="accordion-heading"><a class="accordion-toggle"
                                                                                      data-toggle="collapse"
                                                                                      data-parent="#accordion-0"
                                                                                      href="#accordion-element-010">country,
                                                        disease
                                                        -- medicine</a></div>
                                                    <div id="accordion-element-010" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <a href="#" class="list-group-item list-group-item-warning">United
                                                                States -- Fever</a>
                                                            <table class="table">
                                                                <thead>
                                                                <tr>

                                                                    <th>
                                                                        id
                                                                    </th>
                                                                    <th>
                                                                        countrycode
                                                                    </th>
                                                                    <th>
                                                                        country
                                                                    </th>
                                                                    <th>
                                                                        disease
                                                                    </th>
                                                                    <th>
                                                                        medicine
                                                                    </th>
                                                                    <th>
                                                                        status
                                                                    </th>
                                                                    <th>
                                                                        study_design
                                                                    </th>


                                                                </tr>
                                                                </thead>
                                                                <tr class="success">
                                                                    <th>14</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>IbuProfen</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="success">
                                                                    <th>19</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Advil</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="success">
                                                                    <th>6</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Advil</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="success">
                                                                    <th>9</th>
                                                                    <th>USA</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>IbuProfen</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="danger">
                                                                    <th>51</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Juvisync</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                            </table>

                                                            <div>
                                                                <legend>
                                                                <span class="label label-danger"
                                                                      style="margin-top:-4px">Error Tupple </span>
                                                                </legend>
                                                                <div class="row">
                                                                    <div class="col-lg-11">
                                                                        <table class="table">
                                                                            <thead>
                                                                            <tr>

                                                                                <th>
                                                                                    id
                                                                                </th>
                                                                                <th>
                                                                                    countrycode
                                                                                </th>
                                                                                <th>
                                                                                    country
                                                                                </th>
                                                                                <th>
                                                                                    disease
                                                                                </th>
                                                                                <th>
                                                                                    medicine
                                                                                </th>
                                                                                <th>
                                                                                    status
                                                                                </th>
                                                                                <th>
                                                                                    study_design
                                                                                </th>


                                                                            </tr>
                                                                            </thead>


                                                                            <tr class="danger"
                                                                            id="fix_tr">
                                                                                <th>51</th>
                                                                                <th>US</th>
                                                                                <th>United States</th>
                                                                                <th>Fever</th>
                                                                                <th>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           placeholder="	Juvisync"
                                                                                           aria-describedby="basic-addon1"
                                                                                           id="test_input">
                                                                                </th>
                                                                                <th>active</th>
                                                                                <th>clinical</th>
                                                                            </tr>
                                                                        </table>

                                                                    </div>
                                                                    <div class="col-lg-1">
                                                                        <button type="button"
                                                                                class="btn btn-info btn-md"
                                                                                style="margin-top: 50px;
                                                                                margin-left:-25px"
                                                                                id="test_btn">

                                                                            <span class=" glyphicon glyphicon-wrench"
                                                                                  aria-hidden="true"></span> Apply
                                                                        </button>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="accordion" id="accordion-1">
                                                <div class="accordion-group">
                                                    <div class="accordion-heading"><a class="accordion-toggle collapsed"
                                                                                      data-toggle="collapse"
                                                                                      data-parent="#accordion-1"
                                                                                      href="#accordion-element-110">country,
                                                        disease, status -- medicine</a></div>
                                                    <div id="accordion-element-110" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <a href="#" class="list-group-item list-group-item-warning">United
                                                                States,Fever,active</a>

                                                            <table class="table">
                                                                <tr class="success">
                                                                    <th>14</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>IbuProfen</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>

                                                                <tr class="success">
                                                                    <th>19</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Advil</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>

                                                                <tr class="success">
                                                                    <th>6</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Advil</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>

                                                                <tr class="success">
                                                                    <th>9</th>
                                                                    <th>USA</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>IbuProfen</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="danger">
                                                                    <th>51</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Juvisync</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion" id="accordion-2">
                                                <div class="accordion-group">
                                                    <div class="accordion-heading"><a class="accordion-toggle collapsed"
                                                                                      data-toggle="collapse"
                                                                                      data-parent="#accordion-2"
                                                                                      href="#accordion-element-210">country,
                                                        disease, status, study_design -- medicine</a></div>
                                                    <div id="accordion-element-210" class="accordion-body collapse">
                                                        <div class="accordion-inner"><a href="#"
                                                                                        class="list-group-item list-group-item-warning">United
                                                            States,Fever,active,clinical</a>
                                                            <table class="table">
                                                                <tr class="success">
                                                                    <th>14</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>IbuProfen</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="success">
                                                                    <th>19</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Advil</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="success">
                                                                    <th>6</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Advil</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="success">
                                                                    <th>9</th>
                                                                    <th>USA</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>IbuProfen</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="danger">
                                                                    <th>51</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Juvisync</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                            </table>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion" id="accordion-3">
                                                <div class="accordion-group">
                                                    <div class="accordion-heading"><a class="accordion-toggle collapsed"
                                                                                      data-toggle="collapse"
                                                                                      data-parent="#accordion-3"
                                                                                      href="#accordion-element-310">country,
                                                        disease, study_design -- medicine</a></div>
                                                    <div id="accordion-element-310" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <a href="#" class="list-group-item list-group-item-warning">United
                                                                States,Fever,clinical</a>
                                                            <table class="table">
                                                                <tr class="success">
                                                                    <th>14</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>IbuProfen</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="success">
                                                                    <th>19</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Advil</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="success">
                                                                    <th>6</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Advil</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="success">
                                                                    <th>9</th>
                                                                    <th>USA</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>IbuProfen</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="danger">
                                                                    <th>51</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Juvisync</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="panel-isaaofd">
                                    <div class="row-fluid">
                                        <div class="span12">

                                            <div class="accordion" id="accordion-a">
                                                <div class="accordion-group">
                                                    <div class="accordion-heading"><a class="accordion-toggle collapsed"
                                                                                      data-toggle="collapse"
                                                                                      data-parent="#accordion-0"
                                                                                      href="#accordion-element-a1">
                                                        disease, medicine, status -- countrycode</a></div>
                                                    <div id="accordion-element-a1" class="accordion-body ">
                                                        <div class="accordion-inner">
                                                            <a href="#" class="list-group-item list-group-item-warning">Anemia,Epoetin,active</a>
                                                            <table class="table">
                                                                <tr class="success">
                                                                    <th>13</th>
                                                                    <th>IND</th>
                                                                    <th>India</th>
                                                                    <th>Anemia</th>
                                                                    <th>Epoetin</th>
                                                                    <th>active</th>
                                                                    <th>research</th>
                                                                </tr>
                                                                <tr class="success">
                                                                    <th>16</th>
                                                                    <th>IN</th>
                                                                    <th>India</th>
                                                                    <th>Anemia</th>
                                                                    <th>Epoetin</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="success">
                                                                    <th>3</th>
                                                                    <th>IN</th>
                                                                    <th>India</th>
                                                                    <th>Anemia</th>
                                                                    <th>Epoetin</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="success">
                                                                    <th>8</th>
                                                                    <th>IND</th>
                                                                    <th>India</th>
                                                                    <th>Anemia</th>
                                                                    <th>Epoetin</th>
                                                                    <th>active</th>
                                                                    <th>research</th>
                                                                </tr>
                                                                <tr class="danger">
                                                                    <th>2</th>
                                                                    <th>CAN</th>
                                                                    <th>Canada</th>
                                                                    <th>Anemia</th>
                                                                    <th>Epoetin</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>

                                                            </table>
                                                            <a href="#" class="list-group-item list-group-item-warning">Fever,Advil,active</a>
                                                            <table class="table">
                                                                <tr class="success">
                                                                    <th>19</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Advil</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="success">
                                                                    <th>6</th>
                                                                    <th>US</th>
                                                                    <th>United States</th>
                                                                    <th>Fever</th>
                                                                    <th>Advil</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>
                                                                <tr class="danger">
                                                                    <th>17</th>
                                                                    <th>AUS</th>
                                                                    <th>Australia</th>
                                                                    <th>Fever</th>
                                                                    <th>Advil</th>
                                                                    <th>active</th>
                                                                    <th>clinical</th>
                                                                </tr>

                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </div>


    <script>
        $(document).ready(function(){
           $("#test_btn").click(function(){

                    if ($("#test_input").val() == "Advil" || $("#test_input").val() == "IbuProfen"){
                       alert("correct!");

                       document.getElementById("fix_tr").className="success";

                    }
  });
});


    </script>
</section>





